@import "highlight.js/styles/github.css";

:root {
  --top-nav-height: 51px;
  --border-color: #dce6e9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: rgba(60, 66, 87, 1);
  margin: 0;
}

p {
  line-height: 1.5em;
}


h1 {
  font-size: 40px;
  color: #04da8d;
}

h2 {
  margin: 1.5em 0;
}

a {
  color: rgba(75, 85, 99, 1);
}

/* curl snippet styling */
button {
  border-radius: 4px 4px 0 0;
  margin-right: 4px;
}

button:hover {
  background-color: #ddd;
}

button:focus {
  outline: none;
}

/* top nav */
.topnav-white-text {
  color: white;
}
